


#new_message {
  position: fixed;
  background-color: white;
  bottom: 78px;
  width: 95%;
  border-top: 0.8px solid #ced4da;
  .form-control {

  }
}

.chatroom-container {
  padding: 3px 12px;
  h1 {
    font-size: 16px;
  }
}

.button_cta.buy {
  position: sticky;
  text-align: center;
  bottom: 3px;
  left: 3px;
  padding-left: 10px;
  max-width: 125px;
  a {
    font-size: 12px;
  }
}


#messages {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  overflow-y: scroll;
  height: 67vh;
  .received, .sent {
    margin-bottom: 15px
  }
  .sent {
    align-self: flex-end;
    text-align: end;
    max-width: 250px;
    line-height: 14px;
    background: white;
    border: 0.8px solid #ced4da;
    border-radius: 8px;
    padding: 4px;

    .user-name {
      p {
       text-align: right;
       opacity: 0.5;
       padding-right: 8px;
       padding-top: 8px;
       font-size: 10px;
       font-weight: lighter;
       margin-bottom: 4px;

     }

   }
   .content {
    padding-right: 8px;
    p  {
      margin-bottom: 8px;
    }
  }


}

.received {
  align-self: flex-stard;
  max-width: 250px;
  line-height: 14px;
  background: white;
  border: 0.8px solid #ced4da;
  border-radius: 8px;
  padding: 4px;

  .user-name {
    p {
     text-align: left;
     opacity: 0.5;
     padding-top: 8px;
     font-size: 10px;
     font-weight: lighter;
     margin-bottom: 4px;

   }

 }
 .content {
  p  {
    margin-bottom: 8px;

  }
}

}
}

.form-module {
  display: flex;
  margin-top: 8px;

  .input {
    flex: 1;
    height: 60px;
    margin: 0px;

  }
  .textarea{
    margin: 0px;
    height: 60px

  }
}











