.user-edit {
  position: sticky;
  left: 0;
}

.back-link {
  padding-top: 8px;
  h4 {
    font-weight: bold;
  }
}
.show-product-info {
  border: 1px solid $gray;
}

.show-user-info {
  border: 1px solid $gray;
  border: 1px solid $gray;
  border-bottom: none;
}

.show-user-header {
  padding: 16px 16px 0px 10px;
  border: 1px solid $gray;
  h1 {
    font-size: 22px;
    margin-bottom: 16px;
  }
  p {
    margin-bottom: 8px;
  }
  strong {
    // border-bottom: 1px solid $gray;
    padding-bottom: 4px;
    margin-bottom: 4px;
  }
}
.show-user-bio {
  border: 1px solid $gray;
  border-top: none;
  border-bottom: none;
  padding: 16px 16px 24px 16px;
  h2 {
    font-size: 20px;
  }
}

.show-user-deals {
  padding: 16px 16px 8px 16px;
  border: 1px solid $gray;
  border-top: none;

}
.quit {
  margin-top: 8px;
}

.show-user-shop {
  border-top: none;
    border: 1px solid $gray;
  padding: 16px 16px 0px 16px;
  h3 {
    font-size: 20px;
  }
}

#user-shop {
  a {
    font-size: 20px;
  }
}

.show-user-reviews {
    border: 1px solid $gray;
    padding: 16px 16px 0px 16px;
    border-top: none;
  h3 {
    font-size: 20px;
  }
}

.show-user-favorites {
  padding: 16px 16px 0px 16px;
  border: 1px solid $gray;
  border-top: none;
  h3 {
    font-size: 20px;
  }
}


.user-edit {
  a {
    padding: 8px 8px;
    background-color: $gray;
    color: white;
    border: none;
  }
}

.users-deals {
  h3 {
    font-size: 20px;
  }
}

.show-product-photos {
    img {
    width: 100%;
    border-top: 1px solid $gray;
    padding: 8px 8px 8px 8px;
  }
}

.show-product-header {
  border-bottom: 1px solid $gray;
  padding: 16px 16px 0px 16px;
  h1 {
    font-size: 20px;
  }
}

.show-image {
  height: 352px;
  border: 1px solid $gray;
  border-top: none;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .fav {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #FF4747;
    font-size: 32px;
  }
}

.show-product-description {
  padding: 16px 16px 8px 24px;
  p {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
}

.show-fabric-price {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  .show-fabric {
    background-color: $gray;
    color: white;
    border: 1px solid $gray;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    padding: 12px 0px 0px 12px;
    font-size: 20px;
    text-transform: capitalize;
  }
  .show-price {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    padding: 12px 0px 0px 12px;
    font-size: 20px;
  }
}

.show-buttons {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $gray;
  padding: 8px 8px;
  background-color: $gray;
  color: white;
  border: none;
  a {
    color: white;
  }

  div{
    border-right: 1px solid $gray;
    display: flex;
    justify-content: center;
    flex: 0 0 50%;
    padding: 8px 0px

  }
  div:last-of-type{
    flex: 0 0 50%;
    border-right: none;
    color: $red;
  }

  // a {
  //   font-size: 16px;
  //   padding: 16px 0px 12px 0px;
  // }
}

.show-heart a {
  color: $red;
  }

  .product-scroll {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 16px;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */


  .cards {
    list-style: none;
    padding: 0;
    margin: 12px;
    display: inline-flex;

    .product-card {
      width: 250px;

      &.product-card:not(:last-of-type) {
        margin-right: 12px;
      }
    }
  }
}
