
.button_transparent {
  padding: 8px 8px;
  background-color: white;
  color: $gray;
  border: 1px solid #ced4da;
  &:hover {
    background-color: $gray;
    color: white;
    border: none;
  }
}

.button_selected {
  padding: 8px 8px;
  background-color: $gray;
  color: white;
  border: none;
  &:hover {
    background-color: white;
    color: $gray;
    border: 1px solid #ced4da;
  }
}

.button_cta {
  padding: 8px 8px;
  background-color: $neon;
  color: $gray;
  border: none;
}

  .reject-button {
    padding: 8px 8px;
    background-color: $red;
    color: white;
    border: none;
  }

.deal-sold-button {
  margin-top: 24px;
  background-color: black;
  display: flex;
  justify-content: center;
    a {
    color: white;
    padding: 8px;
    }
}

.add-deal-modal {
  background-color: black;
  margin: 32px 0px 24px 0px;
  padding: 16px 0px 16px 16px;
  a {
    color: white;
  }
}
