.new-product {
  margin: 8px 8px;
      padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
  border: 1px solid black;

  .btn {
    background-color: black;
    color: white;
    margin-top: 8px;
  }
}

.form-control {
  border: 1px solid black;
}

.landing-page-logo {
  display: flex;
  justify-content: center;
  margin: 1px 0px 24px 8px;
}

#new_user {
  margin-bottom: 24px;
}

.signs {
  margin-bottom: 16px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  line-height: 30px;
  text-align: center;

}
.forgot {
  font-size: 14px;
}
