// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";
@import "filters";
@import "form";
@import "deal";
@import "logo";

.map-button {
  display: flex;
  color: $gray;
  font-size: 24px;
  background: white;
  padding: 12px;
  border-radius: 50%;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 2;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.filters-button {
  display: flex;
  color: $gray;
  font-size: 24px;
  background: white;
  padding: 12px;
  border-radius: 50%;
  position: fixed;
  bottom: 150px;
  right: 20px;
  z-index: 2;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
