// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";
@import "filters";

.map-button {
  display: flex;
  color: $gray;
  font-size: 30px;
  background: white;
  padding: 12px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 2;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.filters-button {
  display: flex;
  color: $gray;
  font-size: 30px;
  background: white;
  padding: 12px;
  border-radius: 50%;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 2;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
