.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  width: 200px;
}

#mapModal.show{
  display: flex !important;
  justify-content: center;
  align-items: center;
  .modal-dialog{
    width: 100%;
  }
}

.modal-dialog-map {
  max-height: 100vh;
}
