<div class="container">

<%= render 'mappopup' %>

  <h1>// PRODUCTS </h1>

<%= render 'filterpopup' %>


<!-- PRODUCTS SECTION  -->

<div class="cards">
<% @products.each do |product| %>
  <%= render 'card', product: product %>
<% end %>


</div>

</div>
