<div class="container">
<div class="show-user-header">
      <h1>Upload a new fabric</h1>
      <p>Please, fill the information below to give a new life to fabric</p>
  </div>
  <div class="card new-product">

    <%= render 'form' %>
  </div>
</div>
